.container5 section {
    display: flex;
    flex-direction: row;
}

.project {
    display: flex;
    align-items: flex-start;
    flex-direction: column; /* Stacks elements vertically for smaller screens */
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    max-width: 400px; /* Keeps the project container from stretching too much */
    background-color: #ececec;
    margin: 20px;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.project img {
    width: 80px; /* Defined width for image, adjust based on design needs */
    height: 80px;
    border-radius: 10%;
    margin-bottom: 10px;
}

.project-info {
    margin-left: 10px;
}

.show-summery {
    cursor: pointer;
    color: #000;
    font-weight: bold;
}

.project:hover {
    background-color: #c4c1c1;
    cursor: pointer;
}

.proj-summery {
    display: none; /* Hide detailed summary by default */
    margin-top: 10px;
}

.project.active .proj-summery {
    display: block; /* Show detailed summary when active */
}
